/* filepath: /Users/nicholasimmenschuh/Documents/Computer Science/Individual Projects/StreetKnits/src/app/globals.css */
@font-face {
  font-family: 'Typewriter-Serial-Regular';
  src: url('/Typewriter-Serial-Regular.woff2') format('woff2'),
       url('/Typewriter-Serial-Regular.woff') format('woff'),
       url('/Typewriter-Serial-Regular.ttf') format('truetype');
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.navbar {
  font-size: 24pt;
  font-family: 'Typewriter-Serial-Regular', 'Times New Roman', Times, serif;
  background-color: #9BDEEF;
  backdrop-filter: blur(5px);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  color: #ffffff;
  text-decoration: none; /* Remove the underline */
}

.cloudScalableVectorGraphic {
  height: 30%;
  width: 30%;
}

.navbar-logo-image {
  height: 55px;
  width: auto; /* Maintain aspect ratio */
  margin-right: 0.25rem;
}

.navbar-logo-text{
  /* Remove any padding or margin */
  padding: 0;
  margin: 0;
  font-size: 24pt; /* Example: Set a specific font size */
  color: #FFFFFF;
  transition: text-shadow 0.3s ease; /* Add a smooth transition */
}

.navbar-logo-text:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow on hover */
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navbar-links a {
  /* Remove any padding or margin */
  padding: 0;
  margin: 0;
  font-size: 24pt; /* Match the logo text font size */
  line-height: 1; /* Match the logo text line height */
  color: #FFFFFF;
  text-decoration: none;
  transition: text-shadow 0.4s ease; /* Add a smooth transition */
}

.navbar-links a:hover { /* Corrected selector */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

h1 {
  color: #FFFFFF;
  font-Size: 88pt;
  font-family: 'Typewriter-Serial-Regular', 'Times New Roman', Times, serif;
}

p {
  font-size: 30pt;
  font-family: Avenir, sans-serif, Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  display: inline-block;
}

footer {
  text-align: center;
}

footer p {
  color: #FFFFFF;
  text-align: center;
  font-size: 12pt;
  display: inline-block;
}

/* Home Page */
#homePageBackgroundContainer {
  background-color: #6B892B;
  background-image: url(/homePageBackground.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 64px;
}

/* Donate Page */
#donatePageBackgroundContainer {
  background-color: #6B892B;
  background-image:  url(/donatePageBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 64px;
}

.cloudScalableVectorGraphic {
  height: auto;
  width: auto;
}


.cloudScalableVectorGraphicContainer {
  position: relative;
  text-align: center;
  top: 100px;
}

.cloudScalableVectorGraphicText {
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-family: Avenir, sans-serif, Georgia, Times, serif;
  font-size: 30pt;
  font-weight: normal;
}

.donateSignScalableVectorGraphicContainer {
  padding-top: 550px;
  position: relative;
  text-align: center;
  left: 1%;
  padding-bottom: 60px;
}

.donateSignScalableVectorGraphic {
  height: 80%;
  width: 80%;
}

