/* filepath: /Users/nicholasimmenschuh/Documents/Computer Science/Individual Projects/StreetKnits/src/app/globals.css */
@font-face {
  font-family: 'Typewriter-Serial-Regular';
  src: url('/Typewriter-Serial-Regular.woff2') format('woff2'),
       url('/Typewriter-Serial-Regular.woff') format('woff'),
       url('/Typewriter-Serial-Regular.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  line-height: 1;
  font-size: 24pt;
  font-family: 'Typewriter-Serial-Regular', 'Times New Roman', Times, serif;
  background-color: #9BDEEF;
}

.navbar-container {
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  color: #ffffff;
  text-decoration: none; /* Remove the underline */
}

.cloudScalableVectorGraphic {
  height: 30%;
  width: 30%;
}

.navbar-logo-image {
  height: 55px;
  width: auto; /* Maintain aspect ratio */
  margin-right: 0.25rem;
}

.navbar-logo-text{
  /* Remove any padding or margin */
  padding: 0;
  margin: 0;
  font-size: 24pt; /* Example: Set a specific font size */
  color: #FFFFFF;
  transition: text-shadow 0.3s ease; /* Add a smooth transition */
}

.navbar-logo-text:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow on hover */
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navbar-links a {
  /* Remove any padding or margin */
  padding: 0;
  margin: 0;
  font-size: 24pt; /* Match the logo text font size */
  line-height: 0; /* Match the logo text line height */
  color: #FFFFFF;
  text-decoration: none;
  transition: text-shadow 0.4s ease; /* Add a smooth transition */
}

.navbar-links a:hover { /* Corrected selector */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

h1 {
  color: #FFFFFF;
  font-Size: 88pt;
  font-family: 'Typewriter-Serial-Regular', 'Times New Roman', Times, serif;
}

p {
  font-size: 30pt;
  font-family: Avenir, sans-serif, Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  display: inline-block;
}

footer {
  text-align: center;
}

footer p {
  color: #FFFFFF;
  text-align: center;
  font-size: 12pt;
  display: inline-block;
}

/* Home Page */
#homePageNavbarLogoText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#homePageBackgroundContainer {
  background-color: #6B892B;
  background-image: url(/homePageBackground.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 64px;
  text-align: center;
}

#homePageContainer footer {
  background-color: #99C440;
}

#homePageBackgroundContainer h1 {
  color: #9BDEEF;
  font-size: 90pt; 
  padding-top: 600px;
}
#homePageBackgroundContainer p { 
  font-size: 30pt;
  color: white; 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  display: inline-block;
}

/* Donate Page */
#donatePageDonateText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#donatePageBackgroundContainer {
  background-color: #6B892B;
  background-image:  url(/donatePageBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 64px;
}

.cloudScalableVectorGraphic {
  height: auto;
  width: auto;
}


.cloudScalableVectorGraphicContainer {
  position: relative;
  text-align: center;
  top: 100px;
}

.cloudScalableVectorGraphicText {
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-family: Avenir, sans-serif, Georgia, Times, serif;
  font-size: 30pt;
  font-weight: normal;
}

#donateSignScalableVectorGraphicContainer {
  padding-top: 550px;
  position: relative;
  text-align: center;
  left: 1%;
  padding-bottom: 60px;
}

#donateSignScalableVectorGraphicContainer h1 {
  color: #000000;
  position: absolute;
  top: 32%;
  left: 49%; 
  transform: translate(-50%, -50%);
}

#donateSignScalableVectorGraphicContainer p {
position: absolute;
top: 52%;
left: 49%;
transform: translate(-50%, -50%);
white-space: pre;
}

#donateSignScalableVectorGraphic {
  height: 80%;
  width: 80%;
}

#venmoContainer {
  position: absolute;
  top: 67%;
  left: 38%; 
  font-weight: bold;
}

#donatePageContainer footer{
  background-color: #99C440;
}

/* Contact Page */
#contactPageContactText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Mobile Screen */
@media only screen and (max-width: 680px) {

  .navbar-container {
  margin-left: 25px;
  margin-right: 25px;
}
  .navbar-links {
  gap: 1rem;
}

.navbar-links a {
  /* Remove any padding or margin */
  font-size: 18pt; /* Match the logo text font size */
}
  .navbar-logo-image {
  height: 45px;
  width: auto; /* Maintain aspect ratio */
  margin-right: 0.25rem;
  padding: 0;
  margin: 0;
}
  .navbar-logo-text{
    font-size: 18pt;
    padding: 0;
    margin: 0;
  }
  #homePageBackgroundContainer h1 {
  font-size: 60pt; 
  padding-top: 400px;
}
  #homePageBackgroundContainer p { 
  font-size: 18pt; 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}
}

  @media only screen and (max-width: 460px) {

  .navbar-container {
  margin-left: 15px;
  margin-right: 15px;
}
  .navbar-links {
  gap: 0.75rem;
}

.navbar-links a {
  /* Remove any padding or margin */
  font-size: 14pt; /* Match the logo text font size */
}
  .navbar-logo-image {
  height: 35px;
  width: auto; /* Maintain aspect ratio */
  margin-right: 0.25rem;
}
  .navbar-logo-text{
    font-size: 14pt;
  }
  #homePageBackgroundContainer h1 {
  font-size: 40pt; 
  padding-top: 200px;
}
  #homePageBackgroundContainer p { 
  font-size: 14pt; 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}
}

@media only screen and (max-width: 350px) {
  .navbar-container {
  margin-left: 10px;
  margin-right: 10px;
}
  .navbar-links {
  gap: 0.50rem;
}

.navbar-links a {
  /* Remove any padding or margin */
  font-size: 12pt; /* Match the logo text font size */
}
  .navbar-logo-image {
  height: 35px;
}
  .navbar-logo-text{
    font-size: 12pt;
  }
  #homePageBackgroundContainer h1 {
  font-size: 20pt; 
  padding-top: 100px;
}
  #homePageBackgroundContainer p { 
  font-size: 12pt; 
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}
}

